
/* Container holding the image and the text */

.container {
position: relative;
text-align: center;
color: black;
}

/* Top left text */
.top-left {
position: absolute;
top: 8px;
left: 16px;
}

.form-all {
float: left;
}