/* header Jen */
.header{
    /*background-color: peru;*/
    grid-area:header;
}
/****** header nav - Phil Mc ******/

header {
    padding: 0 80px;
    line-height: normal;
    background-color: rgb(50, 50, 50);
    height: 110px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

#logo {
    padding: 0;
    border-style: none;
    border-width: 1px;
    border-radius: 10px;
}

#logoText {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: rgba(255, 255, 255, 1.0);
    position: absolute;
    top: 6px;

}

header ul {
    list-style: none;
    float: right;
    margin: 0 160px 0 0;
    padding-top: 45px;
    padding-inline-start: 0;
}

header li {
    display: inline-block;
    margin-left: 40px;
}

header li a {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: rgba(255, 255, 255, 1.0);
}

.currentPage {
    text-decoration: none;
    color: white;
    position: relative;
}

.currentPage::before {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
}

/* Animate menu options - source https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */

a.menuButton:hover, a.currentPage:hover { /* override library styling on attractions page */
    /*color: white;*/
    /*text-decoration: none;*/
}

.menuButton {
    position: relative;
    text-decoration: none;
    /*color: white;*/
}

.menuButton::before { /* create underline with scaleX(0) so not visible */
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.menuButton:hover::before { /* scale on hover to trigger animation */
    visibility: visible;
    transform: scaleX(1);

}

#navSpacer {            /** to pad behind the nav bar when scrolled to the top **/
    height: 110px;
    width: 100%;
}

/****** end header nav ******/

/* === Index page === */

.animate-heartBeat {
    animation-name: heartBeat;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 20;
}

@keyframes heartBeat {
    0% {
        transform: scale(1)
    }
    14% {
        transform: scale(1.2)
    }
    28% {
        transform: scale(1)
    }
    42% {
        transform: scale(1.2)
    }
    70% {
        transform: scale(1)
    }
}

/* banner image and the text */

.banner-text {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.banner {
	position: relative;
}

.banner-image {
	width: 100%;
	height: 500px;
}

.banner-text {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.banner-text h1 {
	font-size: 4em;
	text-shadow: 0 0 6px #000000a8;
}

.banner-text h3 {
	font-size: 3em;
	font-weight: lighter;
	line-height: 1em;
}

/*flex box sections*/

.section-content {
	padding-bottom: 20px;
}

.section-content h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.4em;
	line-height: 1.5;
	color: white;
	text-align: left;
	padding-left: 90px;
	padding-right: 90px;
}

.section-content h3 {
	font-family: Arial;
	font-size: 1.6em;
	line-height: 1.5;
	color: white;
	text-align: left;
	padding-left: 90px;
	padding-right: 90px;
	font-weight: lighter;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

article {
	display: flex;
	margin: 20px;
	border-radius: 25px;
	max-width: 80%;
	box-shadow: 2px 2px 11px 5px #0000000d;
}

.newsletter h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4em;
    line-height: 1.5;
    color: white;
    text-align: left;
    padding-left: 90px;
    padding-right: 90px;
}

.newsletter h3 {
    font-family: Arial;
    font-size: 1.6em;
    line-height: 1.5;
    color: white;
    text-align: left;
    padding-left: 90px;
    padding-right: 90px;
    font-weight: lighter;
    margin-top: 0
}

.newsletter {
    position: relative;
	display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
	margin: 20px;
	border-radius: 25px;
    max-width: 70%;
	box-shadow: 2px 2px 11px 5px #0000000d;
    background: #2F4454;
    padding-top: 40px;
}

.newsletter .newsletter-icon {
    position: absolute;
    top: -52px;
    width: 110px;
    padding: 16px 32px;
}

.newsletter form {
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    padding: 14px 14px 34px 14px;
    width: 57%;
}

form .form-row {
    display: flex;
}

article>*:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

article>*:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

/*image sizing*/

.section-image {
	width: 60%;
	object-position: 50% 50%;
	object-fit: cover;
}

.section-content {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*article background color*/

.article-1 .section-content {
	background-color: #376E6F;
}

.article-2 .section-content {
	background-color: #2E151B;
}

.article-3 .section-content {
	background-color: #1C3334;
}

/*style form*/

form input {
    line-height: 3em;
    width: 53%;
}

/*style subscribe buttom */

.subscribebutton {
    background-color: #d581a1;
    border: none;
	color: white;
    padding: 16px 32px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.subscribebutton {
    background-color: #d581a1;
    color: white;
    border-radius: 5px;
    width: 120px;
    /*  border: 2px solid white*/
}

.subscribebutton:hover {
    background-color: white;
    color: #d581a1
}

/* === Index page end === */



/* body part */
body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}


/* grid */
#site_wrap{
    background-color: antiquewhite;
    height:100vh;
    display: grid;

    /* 6 columns */
    grid-template-columns:
    1fr
    repeat(4,minmax(0,272px))
    1fr;
    grid-gap:0px;

    /* rows */
    grid-template-rows:
        /* header */
        107px
        /* banner */
        605px
        /* rides */
        min-content
        /* footer */
        1fr
        ;

    grid-template-areas:
        "header header header header header header"
        "featured_header featured_header featured_header featured_header featured_header featured_header"
        ". featured_main featured_main featured_main featured_main ."
        "footer footer footer footer footer footer"
    ;
}


/* flexbox */
.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    border-radius: 4px;
    text-align: center;
    background-color:azure;
    margin: 20px;
    padding: 20px;
    transition: .3s;
}
.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center center;
}
.single-box:nth-child(1) .img-area{
    background-image: url(../images/ride1.jpg);
}
.single-box:nth-child(2) .img-area{
    background-image: url(../images/ride2.jpg);
}
.single-box:nth-child(3) .img-area{
    background-image: url(../images/ride3.jpg);
}
.single-box:nth-child(4) .img-area{
    background-image: url(../images/ride4.jpg);
}
.header-text{
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
}
.img-text{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}
.img-text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.single-box:hover{
    background: grey;
    color: white;
}
/* end of flexbox */

/* banner image */
.featured_header{
    background-image: url('../images/carousel/1.jpg');
    grid-area:featured_header;
    background-size: cover;
}



/* banner text */
.featured_header h1{
    color: white;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
.featured_header p{
    color: white;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

/* rides */
.featured_main{
    background-color: grey;
    padding: 2em 0;
    grid-area:featured_main
}

.ticket-info-banner-image {
    background-image: url('../images/tickets.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 605px;
}

.covid-warning {
    background-image: url('../images/covid.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
}

.details-info-row {
    height: 400px;
}

.prices-row {
    height: 300px;
}

.map-row {
    height: 400px;
}

.faq-row {
    height: 380px;
}

.details-box {
    height: 100%;
}

.warning-box {
    height: 100%;
}

.text-centered {
    text-align: center;
}

.text-padding {
    padding: 10px;
}

.no-margin {
    margin: 0;
}

.margin-top {
    margin-top: 10px;
}

.main {
    padding: 20px 20px;
}

.info-page {
    box-sizing: border-box;
}

.bordered-box {
    border: 2px solid #000;
}

.box-shadowed {
    box-shadow: 0 6px 18px 0 rgba(0,0,0,.31);
}

.details-title-box {
    background-color: #fdb713;
}

.warning-title-box {
    background-color: #ff6537;
}

.map-title-box {
    background-color: #006ba1;
}

.faq-table {
    margin-top: 10px;
}

.map-view {
    height: 400px;
}

/** price table*/

.price-table {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.rounded-borders {
    border-radius: 10px;
}

.rounded-borders-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.price-col {

}

.price-row-grey {
    background-color: #dedcdc;
}

.price-col-attractions {
    border-top-left-radius: 10px;
    background-color: #fdb713;
}

.price-col-single-attraction {
    background-color: #ff6537;
}

.price-col-day-pass {
    background-color: #2a398c;
}

.price-col-flex-pass {
    border-top-right-radius: 10px;
    background-color: #006ba1;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* footer Jen */
.footer{
    /*background-color: rgb(31, 65, 65);*/
    grid-area:footer
}

/****** footer Phil Mc ******/
footer {
    line-height: 90px;
    margin-top: 20px;
    /*margin-bottom: 20px;*/
    text-align: center;
    background-color: rgb(50, 50, 50);
    height: 90px;
    font-family: 'Pacifico', cursive;
    font-size: 23px;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline-block;
    margin-right: 20px;
}

/* Animate menu options - source https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */

a.footerButton:hover { /* override library styling on attractions page */
    color: white;
    text-decoration: none;
}

.footerButton {
    position: relative;
    top: 3px;
    text-decoration: none;
    color: white;
}

.footerButton::before { /* create underline with scaleX(0) so not visible */
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.footerButton:hover::before { /* scale on hover to trigger animation */
    visibility: visible;
    transform: scaleX(1);

}

footer img {
    position: relative;
    vertical-align: middle;
}

/****** end footer *******/

