/* === Index page === */


/* banner image and the text */

.banner-text {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.banner {
	position: relative;
}

.banner-image {
	width: 100%;
	height: 500px;
}

.banner-text {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.banner-text h1 {
	font-size: 4em;
	text-shadow: 0 0 6px #000000a8;
}

.banner-text h3 {
	font-size: 3em;
	font-weight: lighter;
	line-height: 1em;
}

.section-content {
	padding-bottom: 20px;
}

.section-content h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.4em;
	line-height: 1.5;
	color: white;
	text-align: left;
	padding-left: 90px;
	padding-right: 90px;
}

.section-content h3 {
	font-family: Arial;
	font-size: 1.6em;
	line-height: 1.5;
	color: white;
	text-align: left;
	padding-left: 90px;
	padding-right: 90px;
	font-weight: lighter;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

article {
	display: flex;
	margin: 20px;
	border-radius: 25px;
	max-width: 80%;
	box-shadow: 2px 2px 11px 5px #0000000d;
}

.article-4 {
	display: flex;
	margin: 20px;
	border-radius: 25px;
	max-width: 50%;
	box-shadow: 2px 2px 11px 5px #0000000d;
}

article>*:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

article>*:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}


/*image sizing*/

.section-image {
	width: 60%;
	object-position: 50% 50%;
	object-fit: cover;
}

.section-content {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


/*article background color*/

.article-1 .section-content {
	background-color: #376E6F;
}

.article-2 .section-content {
	background-color: #2E151B;
}

.article-3 .section-content {
	background-color: #1C3334;
}

.article-4 .section-content {
	background-color: #2F4454;
}


/*style form*/

form {
	font-size: 2em;
	color: white;
	width: 100%;
	line-height: 1em;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 44px 90px;
	background: #DA7B93;
}

form input {
	line-height: 3em;
}


/* === Index page end === */



/* body part */
body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}


/* grid */
#site_wrap{
    background-color: antiquewhite;
    height:100vh;
    display: grid;

    /* 6 columns */
    grid-template-columns:
    1fr
    repeat(4,minmax(0,272px))
    1fr;
    grid-gap:0px;

    /* rows */
    grid-template-rows:
        /* header */
        200px
        /* banner */
        605px
        /* rides */
        min-content
        /* footer */
        1fr
        ;

    grid-template-areas:
        "header header header header header header"
        "featured_header featured_header featured_header featured_header featured_header featured_header"
        ". featured_main featured_main featured_main featured_main ."
        "footer footer footer footer footer footer"
    ;
}


/* flexbox */
.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    border-radius: 4px;
    text-align: center;
    background-color:azure;
    margin: 20px;
    padding: 20px;
    transition: .3s;
}
.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center center;
}
.single-box:nth-child(1) .img-area{
    background-image: url(../images/ride1.jpg);
}
.single-box:nth-child(2) .img-area{
    background-image: url(../images/ride2.jpg);
}
.single-box:nth-child(3) .img-area{
    background-image: url(../images/ride3.jpg);
}
.single-box:nth-child(4) .img-area{
    background-image: url(../images/ride4.jpg);
}
.header-text{
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
}
.img-text{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}
.img-text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.single-box:hover{
    background: grey;
    color: white;
}
/* end of flexbox */




/* header */
.header{
    background-color: peru;
    grid-area:header
}
/* banner image */
.featured_header{
    background-image: url('../images/carousel/1.jpg');
    grid-area:featured_header;
    background-size: cover;
}


/* banner text */
.featured_header h1{
    color: white;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
.featured_header p{
    color: white;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

/* rides */
.featured_main{
    background-color: grey;
    padding: 2em 0;
    grid-area:featured_main
}

/* footer */
.footer{
    background-color: rgb(31, 65, 65);
    grid-area:footer
}