

/* body part */
body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}


/* grid */
#site_wrap{
    background-color: antiquewhite;
    height:100vh;
    display: grid;

    /* 6 columns */
    grid-template-columns: 
    1fr
    repeat(4,minmax(0,272px))
    1fr;
    grid-gap:0px;

    /* rows */
    grid-template-rows: 
        /* header */
        104px
        /* banner */
        605px
        /* rides */
        min-content
        /* footer */
        1fr
        ;
    
    grid-template-areas: 
        "header header header header header header"
        "featured_header featured_header featured_header featured_header featured_header featured_header"
        ". featured_main featured_main featured_main featured_main ."
        "footer footer footer footer footer footer"
    ;
}


/* flexbox */
.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    border-radius: 4px;
    text-align: center;
    background-color:azure;
    margin: 20px;
    padding: 20px;
    transition: .3s;
}
.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center center;
}
.single-box:nth-child(1) .img-area{
    background-image: url(images/ride1.jpg);
}
.single-box:nth-child(2) .img-area{
    background-image: url(images/ride2.jpg);
}
.single-box:nth-child(3) .img-area{
    background-image: url(images/ride3.jpg);
}
.single-box:nth-child(4) .img-area{
    background-image: url(images/ride4.jpg);
}
.header-text{
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
}
.img-text{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}
.img-text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.single-box:hover{
    background: grey;
    color: white;
}
/* end of flexbox */




/* header */
.header{
    background-color: peru;
    grid-area:header
}
/* banner image */
.featured_header{
    background-image: url('images/carousel/1.jpg');
    grid-area:featured_header;
    background-size: cover;
}

/* banner text */
.featured_header h1{
    color: white;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
.featured_header p{
    color: white;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

/* rides */
.featured_main{
    background-color: grey;
    padding: 2em 0;
    grid-area:featured_main
}

/* footer */
.footer{
    background-color: rgb(31, 65, 65);
    grid-area:footer
}


/* mobile */
